.icon_airpay {
  width: 24px;
  height: 24px;
}

.icon_logo {
  width: 121px;
  height: 56px;
}

.icon_eco {
  width: 24px;
  height: 24px;
}

.icon_tech {
  width: 24px;
  height: 24px;
}

.icon_monitor {
  width: 24px;
  height: 24px;
}

.icon_tel {
  width: 18px;
  height: 18px;
}

.icon_email {
  width: 18px;
  height: 18px;
}

.icon_arrow_left {
  width: 8px;
  height: 14px;
}

.icon_arrow_right {
  width: 8px;
  height: 14px;
}

.icon_test {
  font-size: 121px;
  width: 1em;
  height: .463em;
}
