.icon_airpay {
  font-size: 22px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_archive {
  font-size: 24px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_arrow_left {
  font-size: 8px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_book {
  font-size: 22px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_box {
  font-size: 20px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_calendar {
  font-size: 20px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_check {
  font-size: 18px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_check_circle {
  font-size: 22px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_check_user {
  font-size: 24px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_chip {
  font-size: 24px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_clipboard {
  font-size: 18px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_clock {
  font-size: 22px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_codesandbox {
  font-size: 20px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_data {
  font-size: 20px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_external-link {
  font-size: 20px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_file {
  font-size: 18px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_file_text {
  font-size: 18px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_grid {
  font-size: 20px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_harddrive {
  font-size: 22px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_image {
  font-size: 20px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_layers {
  font-size: 22px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_layout {
  font-size: 20px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_like {
  font-size: 22px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_logo {
  font-size: 121px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_mail {
  font-size: 22px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_minus {
  font-size: 16px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_minus_circle {
  font-size: 22px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_minus_square {
  font-size: 20px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_monitor {
  font-size: 22px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_package {
  font-size: 20px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_phone {
  font-size: 22px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_pie-chart {
  font-size: 22px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_play {
  font-size: 16px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_play_video {
  font-size: 36px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_plus {
  font-size: 16px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_plus_circle {
  font-size: 22px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_plus_square {
  font-size: 20px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_print {
  font-size: 22px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_refresh {
  font-size: 24px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_arrow_right {
  font-size: 8px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_server {
  font-size: 22px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_shield {
  font-size: 18px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_shopping_bag {
  font-size: 20px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_shopping_cart {
  font-size: 24px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_smartphone {
  font-size: 16px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_tablet {
  font-size: 18px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_trending-down {
  font-size: 24px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_users {
  font-size: 24px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_world {
  font-size: 22px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_youtube {
  font-size: 24px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_handshake {
  font-size: 34px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_servers {
  font-size: 39px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_tools {
  font-size: 35px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_matrix {
  font-size: 37px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_soc_facebook {
  font-size: 36px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_soc_youtube {
  font-size: 36px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}

.icon_soc_instagram {
  font-size: 36px;
  max-width: 1em;
  min-width: 1em;
  width: 100%;
}
